.card-header {
    background-color: cornflowerblue;
    
}
.card-body{
    background-color: darkgrey;

}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #021af3; /* Green */
  }
